<!DOCTYPE html>
<html ng-app="helloApp">
<head>
    <meta charset="UTF-8">
    <title>Angular hello world</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Orbitron" rel="stylesheet">
    <script src="./main.js"></script>
    <style>
        .girly {
            font-family: 'Dancing Script', cursive;
            color: deeppink;
        }
        .future {
            font-family:'Orbitron', sans-serif;
            color: darkblue;
        }
        .code {
            font-family: "monospace";
            color: darkred;
            background-color: silver;
        }
    </style>
</head>

<body>
    <div ng-controller="helloController">
    <h1>Angular {{greeting}} World</h1>
    <select ng-model="selectedLang"
            ng-change="selected(selectedLang)"
            ng-options="lang for lang in languages">
    </select>
    </div>
    <br />

    <div ng-controller="styleController">
        <label>Message: </label>
        <input placeholder="Enter some text" ng-model="styleText">
        <br />
        <input type="range" ng-model="fontSize" min="12" max="60" ng-init="fontSize = 18px">
        <br />
        <input type="radio" name="style" ng-model="isGirly" ng-value="true">Girly &nbsp
        <input type="radio" name="style" ng-model="isFuture" ng-value="true">Futuristic &nbsp
        <input type="radio" name="style" ng-model="isCode" ng-value="true">Code &nbsp
        <p ng-class="{girly: isGirly, future: isFuture, code: isCode}"
            style="font-size: {{fontSize}}px">{{styleText}}</p>
    </div>

</body>
</html>