
.message {
    padding: 3em;
    border: .2em solid black
}

.cursive {
    font-family: cursive;
}

.black {
    color: black;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.purple {
    color: purple;
}

.red {
    color: red;
}

.yellow {
    color: goldenrod;
}
