<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .enlarge {
        font-size: 10em;
      }
      .red {
        color: red;
      }
      .green {
        color: green;
      }
      .blue {
        color: blue;
      }
      .purple {
        color: purple
      }
      .orange {
        color: orange
      }
    </style>
  </head>
  <body>
    <div ng-controller="mainCtrl">
      <label>Message:</label>
      <input type="text" ng-model="userMessage" placeholder="Enter a message here">
      <label>Super-size your message:</label>
      <input type="checkbox" ng-model="isEnlarge">
      <label>Pick a color for your message:</label>
      <select ng-model="color" ng-options="color for color in colors"></select>
      <hr>
      <h1 class="userMessage {{color}}" ng-class="[{enlarge: isEnlarge}]">{{userMessage}}</h1>
    </div>
  </body>
</html>
