#output-text{
  background-color: grey;
}

.furious{
  font-family: 'Nosifer', cursive;
  color: #e60000
}

.upset{
  font-family: 'UnifrakturCook', cursive;
  color: #ff6600
}

.peeved{
  font-family: 'Swanky and Moo Moo', cursive;
  color: #ff9966
}

.neutral{
  color: #ffff99
}

.pleased{
  font-family: 'Miniver', cursive;
  color: #ccff99
}

.happy{
  font-family: 'Lovers Quarrel', cursive;
  color: #99ff66
}

.ecstatic{
  font-family: 'Monsieur La Doulaise', cursive;
  color: #66ff33
}
